.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}
  
.newline{
  white-space: pre-wrap;
}

#portfolio h1{
  font-size: 2rem;
}

.feature-item{
  text-align: center;
  margin-top:2.5em;
  padding-left:2em;
  padding-right:2em;
}

.feature-item :hover{
  color: rgb(70, 6, 6);
  transition: all 0.2s ease-in-out;
  background: #fff;
}